{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    {% include "includes/auth_head.html" %}
{% endblock %}

{% block content %}
<main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <h2>
                            <a href="{{ url_for('index')}}" class="logo d-flex align-items-center w-auto">
                                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Maison">
                                <span class="d-none d-lg-block">Maison De L'Espoir</span>
                            </a>
                        </h2>
                    </div><!-- End Logo -->
                <div class="card mb-3">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Input Credentials to login</p>
                    </div>

                    <form class="row g-3 needs-validation" method="POST" novalidate>

                        <div class="col-12">
                            {{ form.email.label(class="form-control-label") }}
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                {{ form.email(class="form-control form-control-lg") }}
                                <div class="invalid-feedback">Please enter your Email Address.</div>
                            </div>
                        </div>
                        <div class="col-12">
                            {{ form.password.label(class="form-control-label") }}
                            <div class="input-group has-validation">
                                {{ form.password(class="form-control form-control-label", id="id_password") }}
                                <span class="input-group-text" id="inputGroupPrepend">
                                <span class="fa fa-eye-slash" id="tooglePassword" style="cursor: pointer;"></span>
                                </span>
                                <div class="invalid-feedback">Please enter your password!.</div>
                            </div>
                        </div>
                        <div class="col-12">
                            {{ form.submit(class="btn btn-primary w-100")}}
                        </div>
                        <div class="col-12 text-center mt-4">
                            <p class="small mb-0">Don't have account? <a href="{{ url_for('register')}}">Create an account</a></p>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% include "includes/auth_script.html" %}
{% endblock %}
