<!-- Vendor JS Files -->
<script src="{{ url_for('static', filename='bk/vendor/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='bk/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='bk/vendor/chart.js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='bk/vendor/echarts/echarts.min.js') }}"></script>
<script src="{{ url_for('static', filename='bk/vendor/quill/quill.min.js') }}"></script>
<!-- <script src="{{ url_for('static', filename= 'bk/vendor/simple-datatables/simple-datatables.js') }}"></script> -->
<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='bk/js/main1.js') }}"></script>
<script src="{{ url_for('static', filename='bk/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='bk/vendor/DataTables/datatables.min.js') }}"></script>
<script>
	$(document).ready(function () {
		$('#myTable').DataTable({
			dom: 'Bfrtip',
			buttons: ['print', 'pdf', 'csv'],
		})
	})
</script>

<script src="{{ url_for('static', filename='bk/js/close.js') }}"></script>

<script>
    const passwordField = document.getElementById('id_password')
    tooglePassword.addEventListener('click', (e) => {
        if (tooglePassword.className == 'fa fa-eye-slash') {
            tooglePassword.classList.remove('fa-eye-slash')
            passwordField.setAttribute('type', 'text')
            tooglePassword.classList.add('fa-eye')
        }else{
            tooglePassword.classList.remove('fa-eye')
            passwordField.setAttribute('type', 'password')
            tooglePassword.classList.add('fa-eye-slash')
        }
    })
</script>

<!-- <script>
    $(function() {
        // setTimeout() function will be fired after page is loaded
        // it will wait for 5 sec. and then will fire
        // $(".message_flash").hide() function
          setTimeout(function() {
              $(".alert").hide('blind', {}, 500)
          }, 5000);
    })
</script> -->