<form class="row g-3 needs-validation" method="post" novalidate></form>
    <div class="col-md-4 col-sm-12">
      <label for="firstname" class="form-label">Firstname</label>

        <div class="alert alert-danger mt-2" role="alert">

        </div>

      <div class="invalid-feedback">Please, enter your Firstname!</div>
    </div>

    <div class="col-md-4 col-sm-12">
        <label for="firstname" class="form-label">Middlename</label>
  
          <div class="alert alert-danger mt-2" role="alert">
  
          </div>
  
        <div class="invalid-feedback">Please, enter your Firstname!</div>
    </div>

    <div class="col-md-4 col-sm-12">
      <label for="lastname" class="form-label">Lastname</label>

        <div class="alert alert-danger mt-2 " role="alert">

        </div>

      <div class="invalid-feedback">Please enter your Lastname</div>
    </div>

    <div class="col-md-6 col-sm-6">
      <label for="Phone" class="form-label">Phone Number</label>

        <div class="alert alert-danger mt-2 " role="alert">

        </div>

      <div class="invalid-feedback">Please enter your Phone Number</div>
    </div>

    <div class="col-md-6 col-sm-6">
      <label for="yourEmail" class="form-label">Email</label>
      <div class="input-group has-validation">
        <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->


          <div class="alert alert-danger mt-2" role="alert">

          </div>

        <div class="invalid-feedback">Please enter a valid email.</div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <label for="yourPassword" class="form-label">Password</label>
      <div class="input-group has-validation">

        <span class="input-group-text " id="inputGroupPrepend">
          <span class="fa fa-eye-slash" id="tooglePassword" style="cursor: pointer;"></span>
        </span>

          <div class="alert alert-danger mt-2" role="alert">

          </div>

        <div class="invalid-feedback">Please enter your password!.</div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <label for="yourPassword" class="form-label">Confirm Password</label>
        <div class="input-group has-validation">
  
        <span class="input-group-text " id="inputGroupPrepend">
            <span class="fa fa-eye-slash" id="tooglePassword" style="cursor: pointer;"></span>
        </span>
  
        <div class="alert alert-danger mt-2" role="alert">
  
        </div>
  
        <div class="invalid-feedback">Please enter your password!.</div>
        </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
    <div class="col-12 text-center mt-4">
      <p class="small mb-0">Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
    </div>
  </form>